.production-form-container {
    margin-top: 50px;
}

.label-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.production-label {
    font-size: 18px;
    font-weight: 500;
}

.production-input {
    width: 738px;
    height: 40px;
    background: #F1EEEC;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.short-input {
    width: 300px;
}

.email-input {
    margin-left: 180px;
}

.select {
    width: 760px;
    font-size: 16px;
}

.submit-btn {
    width: 120px;
    height: 35px;
    background: #FF671F;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    position: relative;
    left: 430px;
}